<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">
        <p>This game will be <strong> slightly different </strong> from the first game.</p>
        <p>You will still be asked to collect <strong> white </strong> marbles from the same blue and green bins <strong> except in this version, you will have less time to make your choice.</strong>
        </p>
        <p> Click the next button when you are ready to play. </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
