<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            Here are a few tips to keep in mind while playing:
        </p>

        <p>
            1) There is always a 'BEST' choice so please <b>only choose one box</b>.  If you can't tell which box is better for getting a white marble then try to make your best guess.
        </p>
        <p>
            2) <b>Wait until you see both of the boxes on the screen before you make your choice.</b>  if you choose a box before you see both boxes you may have to choose again.  If you have to choose again please do not switch your choice.
        </p>
        <p>
            3) <b>The size of the marbles do not influence which marble will fall out of the boxes.</b>  A single marble will randomly fall out of the box that you choose regardless or the number of small or large marbles in the boxes.
        </p>
        <p>
            4) <b>After a few choices you will get a chance to take a short break.</b>  You can take as long of a break as you need.  When you are ready to resume, just click on the 'next' button.
        </p>
        <p>
            5) <b>All of the marbles are worth the same amount regardless of size.</b>  You will win the game if you collect a lot of white marbles regardless of their size.  You still win if you collect a lot of small white marbles or a lot of large white marbles.
        </p>
        

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
