<div id="container-instructions">

	<h1>Great job!</h1>

	<hr>

	<div class="instructions well">
        <p>Thank you for playing the first game. </p>
        
	     <p>Please take a break and click the next button when you are ready to play the second game.</p>
	    
        <p>
            Click the button below when you are ready to proceed.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
